@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

:root {
  --t1: #9163cc;
  --a1: #603c8f;
  --t2: #ffffff;
  --a2: #dddddd;
  --t3: #000000;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container--login {
  display: flex;
  flex-flow: column-reverse nowrap;
  padding: 1rem;
  background-color: var(--t2);
  border: 5px solid var(--t3);
  min-width: 450px;
  box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.3);
}

.container--register {
  display: flex;
  flex-flow: column-reverse nowrap;
  padding: 1rem;
  background-color: var(--t1);
  border: 5px solid var(--t2);
  min-width: 450px;
  z-index: 20;
  transition: opacity 0.2s ease;
  opacity: 0;
  box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.3);
}

.container--register > * {
  z-index: 20;
}

@media (max-width: var(--sm)) {
  .container--login {
    min-width: 100%;
  }
  
  .container--register {
    min-width: 100%;
  }
}

.header--login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--login > h1 {
  color: var(--t3);
}

.header--register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--register > h1 {
  color: var(--t1);
}

.form--login {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0;
}

.form--login > input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--a2);
  border-radius: 1rem;
  color: var(--t3);
  font-family: 'Montserrat', sans-serif;
}

.form--register {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0;
}

.form--register > input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  color: var(--t3);
  font-family: 'Montserrat', sans-serif;
}

.enter--login {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
}

.enter--login > p {
  font-size: 14px;
  color: var(--t3);
}

.enter--login > p {
  font-size: 14px;
  color: var(--t3);
}

.enter--login > p > a {
  border-bottom: 1px solid var(--t3);
  cursor: pointer;
  transition: color 0.1s ease-in;
}

.enter--login > p > a:hover {
  color: var(--t1);
}

.enter--login > button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  background-color: var(--t3);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  color: var(--t2);
  padding: 0.4rem 0.8rem;
  transition: all 0.1s ease-in;
}

.enter--register {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
}

.enter--register > p {
  font-size: 14px;
  color: var(--t3);
}

.enter--register > p {
  font-size: 14px;
  color: var(--t3);
}

.enter--register > p > a {
  border-bottom: 1px solid var(--t2);
  cursor: pointer;
  transition: color 0.1s ease-in;
}

.enter--register > p > a:hover {
  color: var(--t2);
}

.enter--register > button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  background-color: var(--t2);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  color: var(--t3);
  padding: 0.4rem 0.8rem;
  transition: all 0.1s ease-in;
}

.enter--register > button:hover {
  background: none;
  color: var(--t2);
  box-shadow: inset 0px 0px 0px 1px var(--t3);
}

.enter--login > button:hover {
  background: none;
  color: var(--t3);
  box-shadow: inset 0px 0px 0px 1px var(--t3);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 0vh;
  width: 100vw;
  background-color: var(--t1);
  z-index: 10;
  transition: height 1s;
}


